
.RefineX-Main{
    min-height: 100% !important;
	background-color: #FFFFFF !important;
	overflow: inherit !important;
}

.RefineX-Sidebar .ant-menu-item{
	font-size: 19px !important;
	margin-bottom: 20px	!important;
}

.RefineX-Sidebar .ant-menu{
	padding-top: 20px !important;
}

.RefineX-Sidebar .ant-menu-inline .ant-menu-item:not(:last-child){
	margin-bottom: 5px !important;
}



.RefineX-Logo{
	background-color: #FCFCFC !important;
	
}

.RefineX-Logo .gx-layout-sider-header{
	background-color: #FCFCFC !important;
}

.RefineX-Sidebar .ant-menu-dark{
	background-color: #191958 !important;
}

.RefineX-Topbar{
    background-color: #FFFFFF !important;

}

.RefineX-Sidebar .ant-menu-dark .ant-menu-item-selected > a{
	/* color: #62ff77 */
	box-sizing: border-box !important;

	color: #3E3E85 !important;
	opacity: 1 !important;

}