.marginStyle {
	margin: 32px;
}
.audienceSubTitleText {
	margin-top: 20px;
}

.audienceDivider .ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text-left::before, .ant-divider-horizontal.ant-divider-with-text-right::before, .ant-divider-horizontal.ant-divider-with-text::after, .ant-divider-horizontal.ant-divider-with-text-left::after, .ant-divider-horizontal.ant-divider-with-text-right::after {
    border-top: 1px solid #bbbbbb;
}

.audienceDivider p{
	font-size: 18px;
	
}