.rowStoreInfoInstantSearch {
  display: flex;
}

.colStoreInfo {
  width: 50%;
  padding: 20px;
  font-size: 21px;
  font-weight: bold;
}

.colInstantSearch {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
