.divCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.divCenterVertical {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	float: left;
}

.NearX-Main{
    min-height: 100%;
	background-color: #e6e6e6;
	overflow: inherit;
}

.HyperX-Sidebar .ant-menu-dark{
	background-color: #455a64;
}

.HyperX-Logo{
	background-color: #37474f;
}

.HyperX-Sidebar .ant-menu-item{
	font-size: 18px;
	margin-bottom: 15px	
}

.HyperX-Sidebar .ant-menu{
	padding-top: 15px
}