/* header styles */
.headerWrapper {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
  margin-bottom: 20px;
}
.buttonBlueBorder {
  /* min-width: 130px; */
  border: 1px solid #038fde;
  color: #038fde;
}
.webhookButtonMargin0 {
  margin: 0;
}
.requiredFieldRedColor {
  color: red;
}

/* .ant-btn {
  margin: 0;
} */

.webhooksHeaderTitle {
  font-size: 30px;
  letter-spacing: 0;
}

.headerDescWrapper {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin-bottom: 20px;
  display: flex;
}

.headerDesc {
  width: 60%;
  font-size: 14px;
  letter-spacing: 0;
}

.cursorPointer {
  cursor: pointer;
}

/* webhook list styles */

.webhookListRow {
  margin: 0 !important;
  padding: 30px 0 !important;
  border-bottom: 1px solid #cccccc;
}

.webhookListRow:last-child {
  border-bottom: 0px solid #cccccc;
}

.webhookListWrapper {
  border: 1px solid #cccccc;
  font-family: 'Roboto', sans-serif;
  min-height: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.emptyWebhookLabel {
  letter-spacing: 0;
  color: #666666;
  font-size: 18px;
  align-self: center;
}

.webhookButtonWrapper,
.webhookTypeWrapper,
.webhookStatus,
.webhookUrlWrapper {
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap;
}

.webhookType {
  padding: 0 0 0 5px;
  color: #333333;
  /* overflow: auto; */
}

.webhookTitle {
  font-size: 16px;
  color: #333333;
  white-space: nowrap;
  width: 100%; /* IE6 needs any width */
  overflow: hidden; /* "overflow" value must be different from  visible"*/
  -o-text-overflow: ellipsis; /* Opera < 11*/
  text-overflow: ellipsis;
}
.webhookUrl {
  font-size: 14px;
  color: #666666;
}

.webhookStatus {
  justify-content: space-around !important;
}
.webhookStatusSwitch {
  background-color: #55dba2 !important;
}

/* webhook form styles */

.webhookFormContainer {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}

.webhookEditTitle {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: #333333;
}

.InputLabel {
  margin-bottom: 5px;
}

.inputDesc {
  margin: 10px 0;
}

.webhookTypeInputWrapper,
.webhookLabelInputWrapper,
.webhookURLInputWrapper,
.webhookHeaderInputWrapper {
  margin: 20px 0;
  position: relative;
}

/* .ant-select-selection,
.ant-input-group-addon {
  background: transparent linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #cccccc;
} */

.headerInputFlex {
  background: #e6e6e6 0% 0% no-repeat padding-box;
  padding: 10px;
}

.requestHeaderrowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
