.text-button {
  color: #00684c;
  margin-right: 2px;
  margin-left: 2px;
}

.text-button:hover {
  text-decoration: underline;
}

.edit-input {
  width: 46px;
  height: 20px;
  padding: 2px;
  align-self: center;
  margin-right: 5px;
  margin-left: 5px;
}

.dropdown-item {
  box-sizing: border-box;
  width: 131px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 15px;
  color: #00000099;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #edf7f5;
}
