.offerBasicFormContainer {
	padding: 0px 20px 5px 20px;
}
.subTitlePadding {
	padding: 20px 0px 0px 20px;
}
.offerFooterStyle {
	padding: 20px;
	margin-left: 20px;
}

.offersNextButton{
	width: 100px;
	margin-left: 20px	
}