/* .ant-slider-rail {
	height: 20px;
	background-color: #038fde;
} */
.sliderContainerStyle {
	padding: 20px;
}
/* .ant-slider-track {
	height: 20px;
	background-color: #6e6e6e;
}
.ant-slider:hover {
	background-color: #6e6e6e;
}
.ant-slider-track {
	background-color: #6e6e6e;
} */
