.searchInputStyle {
	display: flex !important;
	justify-content: flex-end !important;
}

.divCenter {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: 100% !important;
}
.RefineX-campaignList .gx-card-tabs .ant-tabs-tab{
	margin-right: 50px !important;
}