.header {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid lightgray;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
}

.col1 {
  background-color: transparent;
  width: 35%;
  height: 100%;
  border-right: 0.5px solid lightgrey;
  padding: 10px;
}

.col2 {
  background-color: transparent;
  width: 64%;
  height: 100%;
  padding: 10px;
}

.imageStyle {
  background-color: transparent;
  padding: 10px;
}

.contentStyle {
  background-color: transparent;
  padding: 10px;
}

.actionStyle {
  background-color: transparent;
  padding: 10px;
}

.rowStores {
  display: flex;
  border-bottom: 0.5px solid lightgrey;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  /* align-self: flex-end;
    justify-content: flex-end; */
}

.colStores {
  width: 50%;
  /* padding: 10px; */
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.colCustomButtonAddNewSub {
  width: 49%;
  display: flex;
  align-content: center;
  /* align-self: center; */
  /* align-items: center; */
  justify-content: flex-end;
  padding-top: 10px;
}

.rowImage {
  width: 100%;
  height: 50%;
  padding: 10px;
  /* border-bottom: 0.5px solid lightgrey; */
}

/* not being ussed */
.rowUserInfoHeader {
  height: 20%;
  width: 100%;
  padding: 10px;
  border-top: 0.5px solid lightgrey;
  background-color: blue;
}

.rowInfoHeader {
  display: flex;
  width: 100%;
  padding: 15px;
  border-bottom: 0.5px solid lightgrey;
}

.rowUserInfo {
  margin-top: 20px;
  height: 40%;
  width: 100%;
}

.colAvatar {
  width: 15%;
  align-self: center;
}

.colName {
  width: 40%;
  align-self: center;
  margin-left: 5px;
}

.colDesignation {
  display: flex;
  width: 35%;
  align-self: center;
  justify-content: flex-end;
}

/* .tableRow {
    border: 0px solid white;
  } */
.col1 .ant-table-tbody > tr > td {
  border-bottom: 0;
}

.nohoverTableWrapper
  .ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row)
  > td {
  background: unset;
}

.errorContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /* background-color: blue; */
}

.oh-loader-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  /* background-color: yellow; */
}

.oh-list {
  height: 100%;
  width: 100%;
  margin-left: 20px;
}
