.access-control .fontSize-header {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #2e2e2e;
}
.display-flex {
  display: flex;
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.description-start-intent {
  margin-left: 5px;
}
.margin-children-seperator {
  margin-bottom: 25px;
}
.margin-section-seperator {
  margin-bottom: 30px;
}

.modal-header-wrapper {
  font-weight: bold;
  color: #2e2e2e;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.modal-footer-wrapper {
  display: flex;
  justify-content: center;
}
/* .modal-footer-wrapper .submit-button {
  margin-bottom: 0;
} */
.access-control-modal-styles .submit-button {
  margin-bottom: 0;
}

.access-control-modal-styles .ant-modal-header {
  border-bottom: 0px;
  text-align: center;
}

.access-control-modal-styles .ant-modal-header .ant-modal-title {
  font-size: 18px;
}

.access-control-modal-styles .ant-modal-footer {
  border-top: 0px;
  text-align: center;
}
.access-control-column-title {
  text-align: left;
  font-weight: normal !important;
  color: #919191 !important;
}
.access-control-table-content {
  text-align: left;
  font: Regular 14px/17px Roboto;
  letter-spacing: 0;
  color: #2e2e2e;
  opacity: 1;
}
.access-control .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: unset !important;
}
