.stepsStyle {
	width: 60%;
}
.stepsStyle .ant-steps-item-wait .ant-steps-item-icon {
	background-color: #8a8787;
}
.stepsStyle .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
	color: whitesmoke;
}
.stepsStyle .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title {
	color: #038fde;
}
.stepsStyle .ant-steps-item-title {
	font-size: 11px !important;
}
.stepsStyle .ant-steps-small .ant-steps-item-icon {
	width: 20px;
	height: 20px;
	font-size: 11px;
	line-height: 22px;
}
