.appHeader .name{
    font-size: 35px;
    word-spacing: 8px;
    color:#705d94
}

.appHeader{
    margin: 25px 10px 20px 40px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow'
}

.appHeader .title{
    font-size: 20px;
    margin-top: 5px;
}

.appForm label{
    color: #848484
}