/* .NearX-sidebar .ant-menu-root .ant-menu-inline{
    color: rgba(255, 255, 255, 0.65);
    background: #001529;
} */

.NearX-sidebar .ant-menu-root{
    background:  rgba(255, 255, 255, 0) !important;
}