.divCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.divCenterVertical {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	float: left;
}

.headerCard .ant-card-body{
	background-color: rgb(238, 238, 238) !important;
	padding: 0px !important;		 /*default !imp */
}

.headerCard .ant-tabs-bar {
	margin: 0 !important;
}

.haderCard .ant-tabs {
    margin-top: -45px !important;
}

  /* .ant-layout > .gx-layout-content {
    background-color: #eeeeee;
} */

.NearX-Topbar{
	/* background-color: #ececec; */
	background-image: linear-gradient(to right, #052c53 , rgb(36, 157, 179)) !important;
	/* background-image: linear-gradient(to right, #052c53 , #4cc3c7); */
}

.NearX-Main{
    min-height: 100%;
	background-color: #e6e6e6;
	overflow: inherit;
}

.NearX-sidebar .ant-menu-item {
	font-size: 18px !important;
	margin-bottom: 20px !important;
  }
  
  .NearX-sidebar .ant-menu {
	padding-top: 20px !important;
  }
  
  .NearX-sidebar .ant-menu-inline .ant-menu-item:not(:last-child) {
	margin-bottom: 10px !important;
  }
  
  .NearX-sidebar .ant-menu-dark .ant-menu-item-selected > a {
	color: #5f0 !important;
  }

/* .headerRow {
	padding:13px 30px;
	margin: 0;
	background-color:#b3faff;
} */

.headerTitle{
	font-size: 17px
}

/* .mainDrawer div.ant-drawer-wrapper-body{
	background-color: #003366
} */

/* 
.ant-row > [class*=ant-col-] {
    margin: "!important";
} */
