.divCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.divCenterVertical {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	float: left;
}

.headerCard .ant-card-body{
	background-color: rgb(238, 238, 238);
	padding: 0px !important;
}

.headerCard .ant-tabs-bar {
	margin: 0;
}

.haderCard .ant-tabs {
    margin-top: -45px;
}

  /* .ant-layout > .gx-layout-content {
    background-color: #eeeeee;
} */


.NearX-Main{
    min-height: 92vh;
    background-color: #e6e6e6
}


/* .headerRow {
	padding:13px 30px;
	margin: 0;
	background-color:#b3faff;
} */

.headerTitle{
	font-size: 17px

}

/* .mainDrawer div.ant-drawer-wrapper-body{
	background-color: #003366
} */

/* 
.ant-row > [class*=ant-col-] {
    margin: "!important";
} */
