.searchInputStyle {
	display: flex;
	justify-content: flex-end;
}

.divCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.priorityTextStyle{
	font-size: 17px;
	font-weight: bold;
	color: #9e9e9e
}

.HyperX-campaignList .gx-card-tabs .ant-tabs-tab{
	margin-right: 50px;
}