.appHeader .name{
    font-size: 35px !important;
    word-spacing: 8px !important;
    color:#705d94 !important;
}

.appHeader{
    margin: 1 32px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow' !important;
}

.appHeader .title{
    font-size: 20px !important;
    margin-top: 5px !important;
}

.appForm label{
    color: #848484 !important;
}

.placeTableHeaders{
    font-size: 17px !important;
    margin: 0px 20px 5px 10px !important;
}

.divCenter {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: 100% !important;
}

.headerRow1 {
	padding:13px 20px !important;
	margin: 0 !important;
    background-color:#abd6a2 !important;
    box-shadow: 0 6px 7px 0px rgba(0,0,0,0.2) !important;
    /* border: #e9e9e9 solid 1px */
}
.divCenterVertical {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: 100% !important;
	float: left !important;
}

.placesListCard{
    margin: 0px 10px 10px 10px !important;
    color: #757575 !important;

    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2) !important;
    transition: 0.3s !important;
}

.card-shadow{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2) !important;
}

.placesListCard .ant-card-body{
   padding: 15px 0px !important;

}

.placesListCard .ant-row {
    margin: 0 !important;
}

/* .placeCardLocation{
} */

.placeCardLocation span{
    color: #1f1f1f !important;
    padding-left: 7px !important;
    
}
  
.placesListCard:hover {
box-shadow: -1px 6px 12px 6px rgba(0, 0, 0, 0.384) !important;
}

.headerCard .ant-card-body{
	background-color: rgb(238, 238, 238) !important;
	padding: 0px !important;
}

.headerCard .ant-tabs-bar {
	margin: 0 !important;
}

.haderCard .ant-tabs {
    margin-top: -45px !important;
}

  /* .ant-layout > .gx-layout-content {
    background-color: #eeeeee;
} */




/* .headerRow {
	padding:13px 30px;
	margin: 0;
	background-color:#b3faff;
} */

.headerTitle{
	font-size: 17px !important;

}

/* .mainDrawer div.ant-drawer-wrapper-body{
	background-color: #003366
} */

/* 
.ant-row > [class*=ant-col-] {
    margin: "!important";
} */
